/* Temp file for Accessibility helpers/handlers */

.skip-link {
  background: #bbb;
  height: 30px;
  left: 50%;
  padding: 0.5rem;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;

  &:focus {
    transform: translateY(0%);
  }
}

// .sr-only {
// TODO: add sr only. TH
// }

/* END Temp file for Accessibility helpers/handlers */
