.btn,
button {
  display: inline-block;
  font-size: rem(16px);
  line-height: 1.5;
  font-weight: 400;
  border: 1px solid $color-body;
  padding: 10px 30px;
  color: $color-body;
  border-radius: 40px;
  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: $color-body;
    color: white;
    cursor: pointer;
  }

  &--outline {
    color: $color-body;
    border-color: $color-body;
    background-color: transparent;

    &:hover {
      background-color: $color-body;
      color: white;
    }
  }

  // &:focus {

  // }

  // &--primary,
  // &-primary {
  //   &:hover {

  //   }

  //   &:focus {

  //   }
  // }

  // &--secondary,
  // &-secondary {
  //   &:hover {

  //   }

  //   &:focus {

  //   }

  // }
}
