{% extends '@sections/section/section.twig' %}

{% block section_content %}
  <div class="container mb-8 md:mb-12">
    {% if section.title %}
      <div class="section-hero__title__wrap">
        <h1 class="section-hero__title">{{section.title}}</h1>
      </div>
    {% endif %}

    {% if section.image %}
      <div class="section-hero__image__wrap">
        {% set image_object = TimberImage(section.image.id) %}
        {{responsive_image(image_object.id, 'page-hero-mobile', 'page-hero', image_object.alt)}}
      </div>
    {% endif %}
  </div>
{% endblock %}