{% extends 'base/base.twig' %}

{% block site_content %}
  <section class="container grid md:grid-cols-3 my-12 single-service__header">
    <div class="md:col-span-2 md:col-start-2">
      <h1>{{post.title}}</h1>
    </div>
  </section>

  {% for section in sections %}
      {% include '@sections/' ~ section.acf_fc_layout ~ '/' ~ section.acf_fc_layout ~ '.twig' ignore missing %}
  {% endfor %}
{% endblock %}
