{% extends '@sections/section/section.twig' %}

{% block section_classes %}
  {% if no_container is not defined or not no_container %}container{% endif %}
  section-bullet-points
{% endblock %}

{% block section_content %}
  {% if section.title %}
    <h2 class="section-bullet-points__title mb-6">{{section.title}}</h2>
  {% endif %}

  {% if section.items %}
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 pt-6">
      {% for item in section.items %}
        <div class="mb-10 section-bullet-points__item">
          <div class="section-bullet-points__item__circle mb-4"></div>
          {% if item.title %}
            <p class="mb-2">{{item.title}}</p>
          {% endif %}
          
          {% if item.description %}
            <p>{{item.description}}</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}