{% if nav_items %}
	<nav class="nav-footer">
		<ul class="grid grid-cols-2 md:grid-cols-1">
			{% for item in nav_items %}
				<li class="nav-footer__item {{loop.last ? '' : 'mb-2'}}">
					<a class="nav-footer__link" target="{{item.target}}" href="{{item.url}}">{{item.title}}</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
{% endif %}
