{#
 # Template for the site footer.
 #}

<footer class="site-footer">
  <section class="site-footer__content">
    {% block contents %}
    {% endblock %}
  </section>
  <section class="site-footer__credits container text-center">
    <a href="{{ site.key_pages.privacy_policy }}">{{ __('Privacy policy', 'turvasatama-theme') }}</a>
    {{ __('&copy; %1$s %2$s.', 'turvasatama-theme')|format(("now"|date('Y')), 'Company') }}
    {{ __('Crafted by <a href="https://pixels.fi" target="_blank">Pixels</a>.', 'turvasatama-theme') }}
  </section>
</footer>
