.site-footer {
  background-color: $dark-blue;
  padding-top: 80px;
  padding-bottom: 40px;
  color: $color-gray;

  &__cursor {
    position: fixed;
    top: 0;
    left: 0;
    content: "";
    width: 0;
    height: 0;
    background-color: white;
    border-radius: 50%;
    transition: width height 0.15s ease-in-out;
    will-change: width;
    will-change: height;
  }

  &:hover {
    .site-footer__cursor {
      width: 50px;
      height: 50px;
    }
  }

  &__content {
    border-bottom: 1px solid $pale-gray;
  }

  &__social {
    display: flex;

    @media (min-width: $media-lg) {
      justify-content: flex-end;
    }

    a {
      svg {
        height: 30px;
        width: auto;
        color: white;
        fill: white;
        transition: all 0.1s ease-in-out;
      }

      &:hover {
        svg {
          fill: $color-navy;
          color: $color-navy;
        }
      }
    }
  }

  a {
    &:hover {
      color: $color-gray;
    }
  }

  &__email {
    display: block;
    color: $color-gray;
    text-decoration: underline;
  }

  &__credits {
    display: flex;
    justify-content: space-between;
    color: $pale-gray;
    padding-top: 35px;

    a {
      color: $pale-gray;

      &:hover {
        color: $pale-gray;
      }
    }
  }
}