{% extends '@sections/section/section.twig' %}

{% block section_classes %}
  section-thirty-seventy
{% endblock %}

{% block section_content %}
  <div class="container grid md:grid-cols-3 mb-12">
    <div class="flex flex-col section-thirty-seventy__left justify-center items-start mb-4">
      {% block left_content %}{% endblock %}
    </div>
    <div class="md:col-span-2 md:col-start-2">
      {% block right_content %}{% endblock %}
    </div>
  </div>
{% endblock %}